.navbar{
  background-color: #4A5240;
}
.navbar-dark .navbar-nav .nav-link {
  color: #EEF5DB !important;
}

.nav-link:hover {
  color: blue !important;
}
.sign-out-button{
    width: 100px;
    height: auto;
    border: 1.5px solid #EEF5DB;
    background-color: #66C3FF;
    color: #EEF5DB;
    border-radius: 25px;
    text-align: center;
    transition: 1000ms;
}
.sign-out-button:hover {
  background-color: transparent;
  border: 1.5px solid #66C3FF;
  color: #66C3FF;
}

 .Logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-color: rgb(183,110,121);
  opacity: 0.8;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative;
  animation-name: rotate;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(180deg);
}

@keyframes rotate {
  0% {
    transform: perspective(5000px) rotateY(0deg);
  }
  100% {
    transform: perspective(5000px) rotateY(360deg);
  }
}


@media (min-width: 992px){
  .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0 1.5rem 0 1.5rem !important;
  }
}
