/* 
.navbar {


  font-weight: 300;








}

.navbar-brand{
color: grey !important;
}






 a.nav-link {
  color: rgb(83, 83, 83) !important;
  

  
}


.sign-out-button{
    width: 80px;
    height: 25px;
    border: 1.5px solid #EEF5DB;
    background-color: #66C3FF;
    color: #EEF5DB;
    border-radius: 10px;
    text-align: center;
    transition: 1000ms;
    font-size: 10px;

}
.sign-out-button:hover {
  background-color: transparent;
  border: 1.5px solid #66C3FF;
  color: #66C3FF;
}

 .Logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
  background-color: rgb(183,110,121);
  opacity: 0.8;
  clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
  position: relative;
  animation-name: rotate;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  transform: rotate(180deg);
}

@keyframes rotate {
  0% {
    transform: perspective(5000px) rotateY(0deg);
  }
  100% {
    transform: perspective(5000px) rotateY(360deg);
  }
}
 */
