@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");


.section{
    height: 100vh;
}

.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    perspective: 1000px;
}

.display{
    margin: 40px 0px 40px 0px;
    text-align: center;
    font-family: 'Roboto';
    text-transform: none;
    letter-spacing: 0;
    font-weight: bold;
    line-height: 1em;
    font-size: 3em;
}
  
 .card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* vertical-align: middle; */
    max-width: 80%;
    /* max-height: 50%; */
    border-radius: 20px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 20px;
  }


.card-front {
    /* margin-top: 45px; */
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.678);
    background-color: #B76E79;
    border-radius: 20px;
    height: 450px;
    padding: 2em;
    width: 15%;
    transition: 0.5;
  }
  
/* .card-front:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.678);
  } */

  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  
  .card-front:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: #EEF5DB;
    margin-top: 70px;
  }
  
  .flip-card-back {
    margin-top: 90px;
    color: #EEF5DB;
    transform: rotateY(180deg);
    text-align: center;
    vertical-align: center;
  }


.container-card{
    margin-top: 10px;
    vertical-align: middle;
}


@media screen and (min-width: 2800px) {
  .card-front {
    height: 900px;
  }
  .flip-card-front {
    margin-top: 150px;
  }
  .flip-card-back {
    margin-top: 200px;
  }
  .flip-card-back > h1 {
    font-size: 32pt;
  }
  .flip-card-back > p {
    font-size: 32pt;
  }
  .container-card > h4 {
    font-size: 32pt; 
  }
  .container-card > p{
    font-size: 32pt;
  }
}
@media screen and (max-width: 2798px) {
  .card-front {
    height: 700px;
  }
  .flip-card-front {
    margin-top: 80px;
  }
  .flip-card-back {
    margin-top: 100px;
  }
  .flip-card-back > h1 {
    font-size: 28pt;
  }
  .flip-card-back > p {
    font-size: 28pt;
  }
  .container-card > h4 {
    font-size: 28pt; 
  }
  .container-card > p{
    font-size: 28pt;
  }
}
@media screen and (max-width: 2200px) {
  .card-front {
    height: 500px;
  }
  .flip-card-back > h1 {
    font-size: 22pt;
  }
  .flip-card-back > p {
    font-size: 22pt;
  }
  .container-card > h4 {
    font-size: 22pt; 
  }
  .container-card > p{
    font-size: 22pt;
  }
}

@media screen and (max-width: 1500px) {
  .card-front {
    margin-top: 50px;
    border-radius: 20px;
    height: 350px;
  }
  .card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
  }
  .flip-card-front {
    margin-top: 30px;
  }
  .flip-card-back {
    margin-top: 20px;
    text-align: center;
    vertical-align: center;
    font-size: 12pt;
  }
  .flip-card-back > h1 {
    font-size: 14pt;
  }
  .flip-card-back > p {
    font-size: 12pt;
  }
  .container-card > h4 {
    font-size: 14pt; 
  }
  .container-card > p{
    font-size: 14pt;
  }
}

@media screen and (max-width: 1488px){
  .card-front {
    height: 300px;
  }
  .card-image {
    max-width: 100%;
  }
  .flip-card-back > h1 {
    font-size: 14pt;
  }
  .flip-card-back > p {
    font-size: 12pt;
  }
  .container-card > h4 {
    font-size: 12pt; 
  }
  .container-card > p{
    font-size: 12pt;
  }
}


@media screen and (max-width: 950px) {
  .card-front {
    border-radius: 20px;
    height: 300px;
    padding: 2em;
    width: 15%;
  }
  .card-image {
    max-width: 120%;
    height: auto;
  }
  
  .container-card > h4 {
    font-size: 12pt; 
  }
  .container-card > p {
    display: none;
  }
}