@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");


.section{
    height: 100vh;
}

.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    perspective: 1000px;
}

.display{
    margin-top: 40px;
    text-align: center;
    font-family: 'Roboto';
    text-transform: none;
    letter-spacing: 0;
    font-weight: bold;
    line-height: 1em;
    font-size: 3em;
    color: rgba(95, 84, 84, 0.966);
}
  
 .card-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* vertical-align: middle; */
    max-width: 90%;
    /* max-height: 50%; */
    /* border-radius: 60px; */
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    padding-bottom: 45px;
  }


.card-frontt {
    margin-top: 50px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.678);
    background-color: rgb(68, 160, 196);
    /* border-radius: 60px; */
    height: 400px;
    padding: 2em;
    width: 20%;
    /* border-radius: 100%; */
    transition: 0.5;
  }
  
/* .card-front:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.678);
  } */

  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
  }
  
  .card-front:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: rgb(255, 255, 253);
    margin-top: 10px;

    
  }
  
  .flip-card-back1 {
    margin-top: 30px;
    color: black;
    transform: rotateY(180deg);
    text-align: center;
    vertical-align: center;
  }


.container-card{
    margin-top: 10px;
    vertical-align: middle;
}

  /* Second card */
  @media screen and (min-width: 3000px) {
    .card-image {
        display: block;
        margin-left: auto;
        margin-right: auto;
        /* vertical-align: middle; */
        max-width: 40%;
        /* max-height: 50%; */
        /* border-radius: 100%; */
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: cover;
      }
    .container-card{
        margin-top: 20px;
        vertical-align: middle;
    }
    .container-card > h4, p {
        font-size: 24pt; 
    }
    
  }