@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");



.section-feature{
    height: 50vh;
    background: rgb(200,225,201);
    background: linear-gradient(180deg, rgba(200,225,201,1) 14%, rgba(152,193,174,1) 51%, rgba(194,221,197,1) 96%, rgba(200,225,201,1) 100%);


}

.flip-card-front-8{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.678);
  height: 900px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;


}
.card-container-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

 .display{
    margin-top: 15px;
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 0;
    line-height: 5em;
    font-size: 3em;
    color: #51344D
} 
  
.card-front-1 {
  height: 200px;
}

.card-image-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* vertical-align: middle; */
  max-width: 100%;
  /* max-height: 50%; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.container-card-1 > h4 {
  color:#51344D;
  font-size: 30px;
  padding: 35px;




}

.container-card-1 > p {
  color: #51344D;
  font-size: 30px;
  padding: 35px;
  align-content: center;



}