@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");



.section-feature{
    height: 100vh;
    background-color:#51344D;


}

.flip-card-front-8{
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.678);
  height: 900px;
  width: 70%;
  margin-left: auto;
  margin-right: auto;


}
.card-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;


}

 .display{
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto';
    letter-spacing: 0;
    line-height: 5em;
    font-size: 2em;
    color: white;
} 
  
.card-front-1 {


  height: 200px;


}

.card-image-1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* vertical-align: middle; */
  max-width: 100%;
  /* max-height: 50%; */
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

.container-card-1 > h4 {
  color: white;
  font-size: 30px;
  padding: 15px;



}

.container-card-1 > p {
  color: white;
  font-size: 30px;
  padding: 15px;
  align-content: center;



}