.main-footer{
    background: black;
    opacity: .4;
    color: white;
    padding: 5rem;
    padding-bottom: 0;
    position: relative;
    bottom: -1000px;
    width: 100%;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 

    

}
p {
    font-size: 34px;
}

.container-1{
    display: flex; 
    justify-content: space-evenly

}

.page-container{
    display:flex;
    flex-direction: column;
  

}

ul.list-unstyled{
    text-align: center;
    border-left: 3px solid green;
    padding: 4px;
    font-size: 20px;

}
footer {
    padding-top: 200px;
}