<html lang='en'>
    <head>
        <meta charset='UTF-8'>
            <title>Particle Effects of Navbar</title>
            <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/fontawesome.min.css'>

    </head>

    <body>

        <nav role='navigation' id='mainnav'>
        <br><br><br>
        <ul class='gap'>
            <li><a href=''>HOME</a></li>
            <li><a href=''>HOME</a></li>
            <li><a href=''>HOME</a></li>
            <li><a href=''>HOME</a></li>
            <li><a href=''>HOME</a></li>
        </ul>
        </nav>

        <div class='hamb'>
            <a href=''><i class='fa fa-bars'></i></a>
        </div>
        
        <div class='hero'>
            <h1>PARTICLES ON <br><span>NAVIGATION</span></h1>
        </div>

        <canvas id='bubble'></canvas>

        <script src='"https://code.jquery.com/jquery-3.5.1.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js'></script>
        <script>
        var w = window.innerWidth,
            h = window.innerHeight,
            canvas = document.getElementById('bubble'),
            ctx = canvas.getContext('2d'),
            rate='60',
            arc = 100,
            time,
            count,
            size = 7,
            speed = 20,
            lights = new Array,
            colors = ['#d59254', '#ffffff', '#1f2839', '#cf7693'];

        canvas.setAttribute('width', w);
        canvas.setAttribute('height', h);
        
        function init() {
            time= 0;
            // count= 1;
        }
        
        </script>

    </body>
