@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");


.section-3{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background: rgb(200,225,201);
  background: linear-gradient(180deg, rgba(200,225,201,1) 14%, rgba(152,193,174,1) 51%, rgba(194,221,197,1) 96%, rgba(200,225,201,1) 100%);
  /* clip-path: polygon(0 0, 100% 0, 100% 100%, 0 75%); */


}
.four > h4{
  color: white;
  font-size: 30px;
  padding: 20px ;

}
#app > h1 {
  margin-top: 50px;
  color: #457b9d;


}

input[type="text"], input[type="number"] {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid pink;
  color: #51344D;
  font-family: 'Roboto';
  font-size: 2.2em;
  font-weight: 400;
  margin: 30px;
}

input[type="number"] {
  width: 170px;
  margin-bottom: 30px;
}

input::placeholder {
  color: #51344D;
}

#creator{
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #457b9d 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #457b9d 0%, #fceeb5 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, .6);
  color: #fff;
  cursor: pointer;
  font: 1.5em Raleway, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 3rem;
  letter-spacing: 0.05em;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 7em;


}
#progress {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 22px;
  right: 22px;
  border-radius: 40px;
  margin: 13px 0 0 0;
  padding: 0 14px;
  cursor: pointer;
  -webkit-appearance: none;
  background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
  background-size: 500%;
  border: none;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  color: #fff;
  cursor: pointer;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 2rem;

  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#creator:hover, #progress:hover  {
  animation-name: gradient;
  -webkit-animation-name: gradient;
  animation-duration: 2s;
  -webkit-animation-duration: s;
  animation-iteration-count: 1;
  -webkit-animation-iteration-count: 1;
  animation-fill-mode: forwards;
  -webkit-animation-fill-mode: forwards;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100%;
  }
}

.initial{
  color: #6fffe9;
  padding: 20px;
  font-size: 15px;

}

.lower{
  color: #6fffe9;
}
.lower div {
  float: left;
  font-size: 1.4em;
  margin: 18px 0 0 3px;
  background-color: #6fffe9;
}
.lower span {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color: #6fffe9;
  transition: color .2s ease;
}
.lower span:hover {
  color: #6fffe9
}

.habit {
  margin-top: 20px;
}
.complete{
  color: #6fffe9;
  padding: 20px;
  font-size: 15px;

}
.columns {

  position: relative;
  margin: 40px 20px 0 0;
  padding: 3px;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .6);
  min-width: 300px;
  background-color:#3a506b ;


}

.columns:hover
{
    transition: .5s;
    transform: scale(1.1); 
}




.columns h4 {
  margin-bottom: 12;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shell {
  height: 5px;
  width: 700px;
  overflow: hidden;
  position: relative;
  background: linear-gradient(to right, #9658b5, #e3505a);
  border-radius: 8px;
  margin: 10px auto;
}


.bar {
  background: white;
  opacity: .8;
  height: 5px;
  float: right;

}



@media screen and (max-width: 550px) {
  .columns {
    text-align: center;
  }
  .columns .shell {
    margin: 0 auto;
  }
  .shell{
    height: 20px;
    width: 100px;
  }
}


@media only screen and (max-width: 1000px) {
  .columns {
    text-align: left;
  }
  .columns .shell {
    margin: 0;
  }
  .shell {
    height: 20px;
    width: 400px;
    border-radius: 13px;
    background: linear-gradient(to right, #9658b5, #e3505a);
    overflow: hidden;
  }
}
