@import url("https://fonts.googleapis.com/css?family=Roboto:400,700,900");
body {
  background: #333;
  font-family: 'Roboto';
  font-weight: 700;
}

#app {
  margin-top: 50px;
  color: white
}

input[type="text"], input[type="number"] {
  background: transparent;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid pink;
  color: black;
  font-family: 'Roboto';
  font-size: 1.2em;
  font-weight: 400;
  margin-bottom: 20px;
}

input[type="number"] {
  width: 130px;
  margin-bottom: 30px;
}

input::placeholder {
  color: black
}

#creator, #progress {
  border: 0;
  border-radius: 25px;
  background: purple;
  outline: none;
  color: #fff;
  transition: background 0.5s ease;
}
#creator:hover, #progress:hover {
  background: #007064;
}

#progress {
  position: absolute;
  width: 40px;
  height: 40px;
  bottom: 22px;
  right: 22px;
  border-radius: 25px;
  margin: 13px 0 0 0;
  padding: 0 14px;
  cursor: pointer;
}

.lower div {
  float: left;
  font-size: 1.4em;
  margin: 18px 0 0 3px;
}
.lower span {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 1.5em;
  font-weight: bold;
  cursor: pointer;
  color: #444;
  transition: color .2s ease;
}
.lower span:hover {
  color: #333;
}

.habit {
  margin-top: 20px;
}

.columns {
  position: relative;
  margin: 20px 20px 0 0;
  background: #555;
  padding: 35px;
  min-width: 300px;
}
.columns h4 {
  margin-bottom: 12;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.shell {
  height: 20px;
  width: 700px;
  border-radius: 13px;
  background: linear-gradient(to right, #9658b5, #e3505a);
  overflow: hidden;
}

.bar {
  background: #333;
  height: 20px;
  float: right;
}

.slide-transition {
  opacity: 1;
  transition: all .3s ease;
}

.slide-enter, .slide-leave {
  opacity: 0;
  transform: scale(0.9);
}

@media screen and (max-width: 550px) {
  .columns {
    text-align: center;
  }
  .columns .shell {
    margin: 0 auto;
  }
  .shell{
    height: 20px;
    width: 100px;
  }
}


@media only screen and (max-width: 1000px) {
  .columns {
    text-align: left;
  }
  .columns .shell {
    margin: 0;
  }
  .shell {
    height: 20px;
    width: 400px;
    border-radius: 13px;
    background: linear-gradient(to right, #9658b5, #e3505a);
    overflow: hidden;
  }
}